*{
	font-family: "Inter UI",
	"SF Pro Display",
	-apple-system,
	BlinkMacSystemFont,
	"Segoe UI",
	Roboto,
	Oxygen,
	Ubuntu,
	Cantarell,
	"Open Sans",
	"Helvetica Neue",
	sans-serif;
}
.button-36 {
	background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
	border-radius: 8px;
	border-style: none;
	box-sizing: border-box;
	color: #FFFFFF;
	cursor: pointer;
	flex-shrink: 0;
	font-family: "Inter UI", "SF Pro Display", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	font-size: 16px;
	font-weight: 500;
	height: 4rem;
	padding: 0 1.6rem;
	text-align: center;
	text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
	transition: all .5s;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;

}
<!-- HTML !-->
<button class="button-60" role="button">Button 60</button>

/* CSS */
.button-60 {
  align-items: center;
  appearance: none;
  background-color: #fff;
  border: 1px solid #dbdbdb;
  border-radius: .375em;
  box-shadow: none;
  box-sizing: border-box;
  color: #363636;
  cursor: pointer;
  display: inline-flex;
  font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 1rem;
  height: 2.5em;
  justify-content: center;
  line-height: 1.5;
  padding: calc(.5em - 1px) 1em;
  position: relative;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

.button-60:active {
  border-color: #4a4a4a;
  outline: 0;
}

.button-60:focus {
  border-color: #485fc7;
  outline: 0;
}

.button-60:hover {
  border-color: #b5b5b5;
}

.button-60:focus:not(:active) {
  box-shadow: rgba(72, 95, 199, .25) 0 0 0 .125em;
}

/* CSS */
.button-5 {
	align-items: center;
	background-clip: padding-box;
	background-color: #fa6400;
	border: 1px solid transparent;
	border-radius: .25rem;
	box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
	box-sizing: border-box;
	color: #fff;
	cursor: pointer;
	display: inline-flex;
	font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-weight: 600;
	justify-content: center;
	line-height: 1.25;
	margin: 0;
	min-height: 3rem;
	padding: calc(.875rem - 1px) calc(1.5rem - 1px);
	position: relative;
	text-decoration: none;
	transition: all 250ms;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	vertical-align: baseline;
	width: auto;
}

.button-5:hover,
.button-5:focus {
	background-color: #fb8332;
	box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.button-5:hover {
	transform: translateY(-1px);
}

.button-5:active {
	background-color: #c85000;
	box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
	transform: translateY(0);
}

/* CSS */
.button-6 {
	align-items: center;
	background-color: #FFFFFF;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: .25rem;
	box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
	box-sizing: border-box;
	color: rgba(0, 0, 0, 0.85);
	cursor: pointer;
	display: inline-flex;
	font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-weight: 600;
	justify-content: center;
	line-height: 1.25;
	margin: 0;
	min-height: 3rem;
	padding: calc(.875rem - 1px) calc(1.5rem - 1px);
	position: relative;
	text-decoration: none;
	transition: all 250ms;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	vertical-align: baseline;
	width: auto;
}

.button-6:hover,
.button-6:focus {
	border-color: rgba(0, 0, 0, 0.15);
	box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
	color: rgba(0, 0, 0, 0.65);
}

.button-6:hover {
	transform: translateY(-1px);
}

.button-6:active {
	background-color: #F0F0F1;
	border-color: rgba(0, 0, 0, 0.15);
	box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
	color: rgba(0, 0, 0, 0.65);
	transform: translateY(0);
}
.button-36:hover {
	box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
	transition-duration: .1s;
}

@media (min-width: 768px) {
	.button-36 {
		padding: 0 2.6rem;
	}
}

.abs-center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 400px;
	text-align: center;
}

.abs-center p {
	text-align: left;
}
.text-input {
	width: 270px;
	margin: 0 auto;
	margin-bottom: 20px;
	position: relative;
	
	margin-top: 20px;
}

.text-input input[type=text] {
	display: inline-block;
	width: 100%;
	height: 50px;
	box-sizing: border-box;
	outline: none;
	border: 1px solid lightgray;
	border-radius: 12px;
	padding: 10px 10px 10px 100px;
	transition: all 0.1s ease-out;
	font-size: 16px;
}

.text-input input[type=text]+label {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	height: 50px;
	line-height: 50px;
	color: white;
	border-radius: 12px 0 0 12px;
	padding: 0 20px;
	background: #E03616;
	transform: translateZ(0) translateX(0);
	transition: all 0.3s ease-in;
	transition-delay: 0.2s;
}

.text-input input[type=text]:focus+label {
	transform: translateY(-120%) translateX(0%);
	border-radius: 3px;
	transition: all 0.1s ease-out;
	background: transparent;
	color: #E03616;
	padding-left: 0px;
	padding-bottom: 0px;
	margin-top: 15px;
}

.text-input input[type=text]:focus {
	padding: 10px;
	transition: all 0.3s ease-out;
	transition-delay: 0.2s;
}

:root {
	--form-control-color: rebeccapurple;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

body {
	margin: 0;
}

 

.form-control {
	font-family: system-ui, sans-serif;
	font-size: 2rem;
	font-weight: bold;
	line-height: 1.1;
	display: grid;
	grid-template-columns: 1em auto;
	gap: 0.5em;
}

.form-control+.form-control {
	margin-top: 1em;
}

.form-control:focus-within {
	color: var(--form-control-color);
}

input[type=radio] {
	/* Add if not using autoprefixer */
	-webkit-appearance: none;
	/* Remove most all native input styles */
	-moz-appearance: none;
	appearance: none;
	/* For iOS < 15 */
	background-color: var(--form-background);
	/* Not removed via appearance */
	margin: 0;
	font: inherit;
	color: currentColor;
	width: 1.15em;
	height: 1.15em;
	border: 0.15em solid currentColor;
	border-radius: 50%;
	transform: translateY(-0.075em);
	display: grid;
	place-content: center;
}

input[type=radio]::before {
	content: "";
	width: 0.65em;
	height: 0.65em;
	border-radius: 50%;
	transform: scale(0);
	transition: 120ms transform ease-in-out;
	box-shadow: inset 1em 1em var(--form-control-color);
	/* Windows High Contrast Mode */
	background-color: CanvasText;
}

input[type=radio]:checked::before {
	transform: scale(1);
}
 


/* CSS */
.button-10 {
	display: inline;
	flex-direction: column;
	align-items: center;
	padding: 6px 14px;
	font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
	border-radius: 6px;
	border: none;
	width: 100px;
	color: #fff;
	background: linear-gradient(180deg, #4B91F7 0%, #367AF6 100%);
	background-origin: border-box;
	box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	margin: 10px;
	text-decoration: none;
}

.button-10:focus {
	box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
	outline: 0;
}

/* CSS */
.button-11 {
	display: inline;
	flex-direction: column;
	width: 100px;
	align-items: center;
	text-decoration: none;
	padding: 6px 14px;
	font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
	border-radius: 6px;
	color: #3D3D3D;
	background: #fff;
	margin: 10px;
	border: none;
	box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1);
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
}

.button-11:focus {
	box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
	outline: 0;
}